/* Global styles */
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .reactflow-wrapper {
    width: 100vw;
    height: 90vh; /* Adjust the height as needed */
    background: #f0f0f0; /* Optional: adds a background color to see the area */
  }
  /* Other global styles can be added here */